:root {
    --darkcolor:rgb(26, 28, 29);
    --lightcolor: rgb(70, 70, 70);
}
/* For text */
* {
    font-family: OCR A Std, monospace;
    font-size: 20px;
    line-height: 3rem;
    text-decoration: none;
    color: white;
}


body {
    background-color: var(--darkcolor);
    margin: auto;
    width: 80%;
    padding: 40px;
}
.div-left {
    margin-left: 40px;
    width: 40%;
}
.div-right {
    margin-right: 40px;
    width: 40%;
}

.animate-type:not(.hidden), .animate-type.show {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 0.15em; /* Adjust as needed */
    width: 0;
    animation: 
        typing 2s steps(30, end) forwards,
        blink-caret .75s step-end;

}
/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100% }
}

.grid-container {
    width: 100%;
    height: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    /* Animation */
    transform: translate(-70%);
    filter: blur(10px);
    transition: 1.5s;
}
@media (width <= 1300px) {
    body {
        width: 100%;
    }
    .div-left {
        width: 80%;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        height: 1200px;
    }
    .grid-item {
        margin-top: 150px;
    }
    .about-me {
        margin-top: 400px;
    }
}
@media (width <= 650px) {
    .grid-container {
        grid-template-columns: 1fr;
        height: 1800px;
    }
    .about-me {
        margin-top: 500px;
    }
}

.grid-item {
    position: relative;
    width: 350px;
    height: 800px;
    transition: 0.5s;
}
.grid-item img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 200px;
}
.grid-item:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.div-button:hover {
    cursor: pointer;
}
.grid-item-details {
    margin-top: 20px;
    line-height: 1.5rem;
}
.grid-item-details-cover {
    background-color: var(--darkcolor);
    position: absolute;
    margin-top: 270px;
    z-index: 1;
    width: 100%;
    height: 400px;
    transform-origin: bottom;
    transition: 1s;
}
.grid-item:hover .grid-item-details-cover {
    margin-top: 150px;
    transform: scaleY(0);
}
.grid-image {
    height: 100%;
    width: 100%;
}
.grid-item p {
    text-align: center;
    font-size: 20px;
    line-height: 1.2rem;
}
.show { 
    /* Animation */
    transform: translate(0);
    filter: blur(0px);
    opacity: 1;
}
footer {
    text-align: center;
    font-style: italic;
    height: 600px; /* This is so you can scroll lower */
}
